body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

#pokemon{
    height: 400px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

 #types{
     display: flex;
 }

.type{
    padding: 5px 15px;
    width: fit-content;
    background-color: #ffffff4a;
    border-radius: 100px;
    margin-right: 10px;
}

.nav-bar{
    height: 40px;
    width: 100%;
}

#pokemonName{
    color: white;
    padding-left: 20px;
}

.pokemon-info{
    display: flex;
    justify-content: center;
    min-height: 200px;
    width: 450px;
    border-top-left-radius:  40px;
    border-top-right-radius: 40px;
    margin-top: -50px;
    background-color: white;
    position: relative;
}

.info-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 40px 30px;
    width: calc(100% - 60px);
}

.info-nav{
    display: flex;
    justify-content: space-between;
}

.slide-bar{
    margin-top: 15px;
    height: .25rem;
    width: 100%; 
    background-color: aliceblue;
}
.underline{
    height: .25rem;
    background-color: rgb(202, 29, 29);
    transition: 225ms ease-in-out;
}

.info-table{
    margin-top: 45px;
}

.info-table td{
    padding: 0px 60px 20px 0;
}

#pokemonImg{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-top: -178px;
}

.basic-info{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

#id{
    margin-top: -30px;
    font-size: 1.2em;
    font-weight: bold;
}

.opacity{
    opacity: 0.5;
}